body{
    margin:0;
    background-image: url(images/restaurant.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

#content{
    padding:30px 0
}

.header{
    background-color: rgb(255,255,255,0.5);
    padding: 10px 20px;
    display:flex;
    justify-content: space-between;
}


.logos{
    display:flex;
    align-items: center;
}

.logos img{
    height: 100px;
    border-radius: 50%;
    margin-right: 0.8rem;
}

.logos p{
    font-size: 2rem;
    font-weight: 900;
    margin:0
}

.tabs{
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bold;
}

.tabs p{
    margin-left:20px
}

.tabs p:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.home-content{
    align-items: center;
    padding-top:150px;
}

.welcome{
    width:70%;
    margin:auto;
    background-color: rgb(0,0,0,0.6);
    padding:30px;
    border-radius: 10px;
    text-align: center;
}
.home-content p:first-child{
    color: white;
    font-size: 5rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
}

.home-content p:nth-child(2){
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin:0

}

.menu-content, .contact-content{
    padding-top:60px

}

.menu-list{
    width: 80%;
    max-width: 1000px;
    margin:auto;
    background-color: rgb(255,255,255,0.7);
    padding:40px;
    border-radius: 20px;
}


.menu-list p:first-child{
    font-size: 3rem;
    text-align: center;
    margin:0;
    margin-bottom:50px;
    font-weight: bold;
}

.menu-item{
    margin:40px 0 40px 0;
    display:grid;
    gap: 10px;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
}
.menu-item img{
    width:200px;
    grid-row: 1/3;

}

.menu-item p{
    margin: 0;
    font-weight: bold;
    font-size: 1.2rem;
}

.menu-item p:first-of-type{
    font-size: 2rem;
    font-weight: bold;
    align-self: end;
    
}

.contact-container{
    width: 60%;
    max-width: 800px;
    margin:auto;
    background-color: rgb(255,255,255,0.7);
    padding:50px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr auto;
    align-items: center;
    gap:30px
}

.contact-container img{
    height:50px
}

.contact-container p{
    font-size: 1.5rem;
    margin:0
}

.contact-container img:last-child{
    grid-column:  1/3;
    height:auto;
    width:100%;
    border-radius: 20px;
}